<!-- The nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      <a class="navbar-brand" ng-href="#/documents/home">wy-T-iwyg</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="dropdown pull-right">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-expanded="false">
            <i class="fa fa-bars fa-2x"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-href="#/documents/new">
                <i class="fa fa-file-text"></i>
                Create document
              </a>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="fa fa-sign-out"></i>
              Sign out
              <% end %>
            </li>
          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right visible-xs-block">

        <div document-list ></div>

        <li>
          <a ng-href="#/documents/new">
            <i class="fa fa-file-text"></i>
            Create document
          </a>
        </li>
        <li>
          <%= link_to destroy_user_session_path, :method => :delete do %>
          <i class="fa fa-sign-out"></i>
          Sign out
          <% end %>
        </li>
      </ul>


    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <!-- the side bar -->
    <div class="col-sm-3 col-md-2 sidebar">
      <div document-list></div>
    </div>

    <!-- Main content -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div ng-view class="document-view"></div>
    </div>

  </div>
</div>

