<div class="form-group">
  <div class="btn-group" role="group" aria-label="editing">
    <button type="button" class="btn btn-default" ng-click="appendTitle()"><i class="fa fa-header"></i></button>
    <button type="button" class="btn btn-default" ng-click="appendBold()"><i class="fa fa-bold"></i></button>
    <button type="button" class="btn btn-default" ng-click="appendItalic()"><i class="fa fa-italic"></i></button>
  </div>

  <div class="btn-group" role="group" aria-label="editing">
    <button type="button" class="btn btn-default" ng-click="appendLink()"><i class="fa fa-link"></i></button>
    <button type="button" class="btn btn-default" ng-click="appendQuote()"><i class="fa fa-quote-right"></i></button>
    <button type="button" class="btn btn-default" ng-click="appendCode()"><i class="fa fa-code"></i></button>
  </div>

  <div class="btn-group" role="group" aria-label="editing">
    <button type="button" class="btn btn-default" ng-click="appendUnorderedList()"><i class="fa fa-list"></i></button>
    <button type="button" class="btn btn-default" ng-click="appendOrderedList()"><i class="fa fa-list-ol"></i></button>
  </div>
</div>