section#document {


  margin-bottom: $line-height;

  h1 {
    border-bottom: solid 1px $gray-lighter;
    padding-bottom: $line-height * 0.3;
  }

}

ul.documents-list {
  margin-top: $line-height * 0.5;
}