a:focus {
  outline: none;
  text-decoration: none;
}

li.active > a {
  text-decoration: none;
}

.funny {
  font-family: 'Indie Flower', cursive;
}
h1.funny {

  font-size: 1.6em;
  text-align: center;
  margin: 0;
  margin-bottom: $line-height * 0.5;
}

h2.funny {
  font-size: 1.6em;
  text-align: center;
  margin: 0;
  margin-bottom: $line-height * 0.5;
}