a:focus {
  outline: none;
  text-decoration: none;
}

li.active > a {
  text-decoration: none;
}


h1.funny {

  font-size: 1.6em;
  text-align: center;
  margin: 0;
  margin-bottom: $line-height * 0.5;
}

h2.funny {
  font-size: 1.6em;
  text-align: center;
  margin: 0;
  margin-bottom: $line-height * 0.5;
}

.markdown {
  h1 {
    font-weight: 500;
  }

  h2 {
    margin-top: $line-height * 1.5 ;
    font-weight: 400;
  }

  h3 {
    font-weight: 300;
  }
}